#hero{
  width: 100%;
  height: 700px;
  background-image: url('../images/hero.jpg');
  background-size: cover;
}
#plan-container{
  text-align: center;
  padding: 20px 0;
}
.plan-boxs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.plan-box{
  width: 20%;
  box-shadow: 0 0 25px 5px rgba(0,0,0,0.07);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
}
.plan-box ul{
  list-style: none;
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.plan-box-specific{
  background-color: #caf0f8;
}
.plan-box-specific h2{
  background-color: #fff;
  padding: 8px 40px;
  border-radius: 5px;
}
.plan-boxs button{
  background-color: #00b4d8;
  border: none;
  outline: none;
  font: inherit;
  color: #fff;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s ease-in-out;
}
.plan-boxs button:hover{
  background-color: black;
}
.plan-box-specific button{
  background-color: black;
}
.plan-box-specific button:hover{
  background-color: orange;
}
#features-container{
  background-color: #f5f5f5;
  text-align: center;
  padding-bottom: 30px;
}
#features-container h1{
  padding: 30px 0;
}
.features{
  display: flex;
  justify-content: center;
  gap:20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features div{
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: lightgray;
}
.feature{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}